<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Travel Buddys</title>
  <link rel="stylesheet" href="css/styles.css">
  <script src="/js/app.js"></script>
</head>
<body>
  <img class="main-pic" src="/img/index.jpg" alt="">
  <h1>Hello this is your travel buddy</h1>
</body>
</html>